# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS cruft
.DS_Store

# Python bytecode / caches
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
.venv*/
.venv312/
work-env/

# Environment files / secrets
.env
.env.*

# Databases (local only)
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log


# Test / Coverage
.pytest_cache/
.hypothesis/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
alembic/*
alembic.ini
test.sh
task